/**
 * Usa a sintaxe exigida pela v4 do Tailwind.
 * 'preflight' substitui o antigo '@tailwind base'.
 * 'utilities' agora engloba o que antes era 'components' e 'utilities'.
*/
@import "tailwindcss/preflight";
@import "tailwindcss/utilities";

/* Seus estilos personalizados continuam aqui */
html {
  scroll-behavior: smooth;
}

body {
  background-color: #111827;
  color: #cbd5e1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}